body {
    font: 1em 'Arial Narrow', Arial, sans-serif; 
    font-stretch: normal;
}

.mainDetails {
    width: 100%;
    min-height: 210px;
    padding: 10px;
    display: flex;
    margin-bottom: 10px;
}

h1, h3 {
    text-align: center;
    text-transform: uppercase;
    color: #172c51;
}

h3 {
    margin: 10px;
}

#name h1 {
    font-size: 1.5em;
    font-weight: 700;
    /* font-family: 'Rokkitt', Helvetica, Arial, sans-serif; */
    padding-top: 70px;
}

#name {
    margin: auto;
    width: auto;
    float: center;
}

page[size="A4"] {
    background: white;
    width: 21cm;
    display: block;
    margin: 0 auto;
}

@media print {
    body, page[size="A4"] {
        margin: 0;
        box-shadow: 0;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #353c4a;
    padding: 5px;
}

.summarySection {
    width: 230px;
    background-color: #b8cceb;
}
